<%- include('partials/HPHead') %>
<%- include('partials/navbar') %>

<body>
    <!-- Hero Section -->
    <section class="hero" id="hero">
        <div class="hero-content">
            <div class="hero-row">
                <h2><%= heroTitle %></h2>
                <p><%= heroSubtitle %></p>
            </div>
        </div>
        <div class="WWS-img">
            <img src="<%= founderImage %>">
        </div>
    </section>

     <!-- Call to Action -->
     <section class="RS">
        <div class="cta">
            <% callsToAction.forEach(cta => { %>
                <div class="cta-box">
                    <h4><%= cta.title %></h4>
                    <a href="<%= cta.link %>" class="download-btn"><%= cta.buttonText %></a>
                </div>
            <% }) %>
        </div>
    </section>

    <section class="Impact">
        <h1><%= impactHeading %></h1>
        <h3><%= impactSubheading %></h3>
        <div class="Imp-row">
            <% impactReviews.forEach(review => { %>
                <div class="Imp">
                    <div class="impact-preview">
                        <iframe src="<%= review.link %>" 
                                title="Website Preview" 
                                style="border: none; width: 100%; height: 200px; margin-top: 10px; border-radius: 10px;">
                        </iframe>
                    </div>
                    <div class="impact-content">
                        <p><%= review.description %></p>
                    </div>
                    <a href="<%= review.link %>" class="impact-btn" target="_blank">
                        Visit Website
                    </a>
                </div>
            <% }) %>
        </div>
    </section>

    <!-- Overview of Topics -->
    <section class="topics" id="topics">
        <h1><%= topicsHeading %></h1>
        <div class="topics-row">
            <% topics.forEach(topic => { %>
                <div class="topic-card">
                    <div class="topic-icon">
                        <i class="<%= topic.icon %> fa-3x"></i>
                    </div>
                    <div class="topic-content">
                        <h3><%= topic.title %></h3>
                        <p><%= topic.description %></p>
                    </div>
                   
                </div>
            <% }) %>
        </div>
    </section>

    <%- include('partials/footer') %>
</body>
</html>